* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 140px 310px 10px 10px;
}

ul#application-menu {
    background: #dadada;
    display: table;
    left: 0;
    line-height: 128px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
}

ul#application-menu li {
    cursor: not-allowed;
    display: table-cell;
    height: 128px;
    width: 1%;
}

ul#application-menu li.active {
    background: #fff;
    cursor: default;
}

div#application-sidebar {
    background: #eeeeee;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 0 0 128px;
    position: fixed;
    right: 0;
    top: 128px;
    width: 300px;
}

div#application-sidebar button {
    height: 2em;
    width: 100%;
}

#reset-app {
    background: #000000;
    border: 0;
    color: #afff3b;
    cursor: pointer;
    font-weight: bold;
}

#reset-app:hover {
    background: #fff;
    color: #000088;
}

#current-command {
    background: #000;
    bottom: 0;
    color: #ffffff;
    font-size: 24pt;
    height: 24pt;
    position: fixed;
    right: 300px;
    width: 3ex;
}

.info-block {
    display: block;
}

.info-block span {
    display: block;
    font-size: 3em;
}

#information {
    background: #ffffff;
	border: 4px solid;
	display: none;
    font-size: 18pt;
	padding: 10px;
    position: fixed;
    top: 45%;
	left: 25%;
    text-align: center;
    width: 50%;
}

#information.success {
    border-color: #9ae035;
    color: #9ae035;
}

#information.error {
    border-color: #ee403d;
    color: #ee403d;
}

.hidden {
    display: none;
}

#clock {
    background: #000;
    color: #ffffff;
    font-family: monospace;
    font-size: 32px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.status_bar {
    background: #383838;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 60px;
    margin-left: -30px;
}

.status_bar span {
    background: transparent;
    float: left;
    height: 30px;
    width: 30px;
}

.status_bar .active {
    background: #0ff;
}

#gantt{width:80%;float:left}#gantt .workers{font-weight:bold;position:absolute;left:0;padding-top:81px;width:15%}#gantt .workers div{padding-top:10px;border-bottom:1px #dadada solid}#gantt .items{position:absolute;right:0;width:85%;overflow:hidden;overflow-x:auto}#gantt .days{height:30px;width:1px;min-width:100%;position:relative;font-size:16px;font-weight:bold;line-height:30px;border:1px #c9c9c9 solid;overflow:hidden;color:#999999}#gantt .days div{border-right:1px #c9c9c9 solid;background-color:#f9f9f9}#gantt .hours{height:50px;width:1px;min-width:100%;position:relative;color:#999999;background-color:#f9f9f9}#gantt .hours div:nth-child(24n+1){border-left:1px #c9c9c9 solid}#gantt .item{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border:none;background:#1bba9a;border:1px transparent;height:18px;top:6px;color:#FFFFFF;overflow:hidden;position:absolute;border-radius:5px;opacity:0.8}#gantt .item:hover{opacity:1}#gantt .item:nth-child(odd){background-color:#00a282}#gantt .item.important{background-color:#FF0000 !important;height:24px;top:3px;opacity:1}#gantt .item.item-pause{box-shadow:none;background:repeating-linear-gradient(45deg, #eaeaea, #eaeaea 10px, #f9f9f9 10px, #f9f9f9 20px);top:0;height:30px;opacity:0.9;border-radius:0;z-index:100}#gantt .item.item-damage0{background-color:#BE83AA}#gantt .item.item-damage1{background-color:#6843B2}#gantt .item.item-damage2{background-color:#FF9626}#gantt .item.item-damage3{background-color:#6D26FF}#gantt .item.item-damage4{background-color:#0ACC27}#gantt .item.item-damage5{background-color:#438FB2}#gantt .item.item-damage6{background-color:#26BAFF}#gantt .item.item-damage7{background-color:#CCC62B}#gantt .item.item-damage8{background-color:#26FFBB}#gantt .item.item-damage9{background-color:#B2886B}#gantt .item.item-damage10{background-color:#705AFF}#gantt .item.item-damage11{background-color:#A35AFF}#gantt .item.item-damage12{background-color:#A3E8FF}#gantt .item.item-damage13{background-color:#A3E8A3}#gantt .item.item-damage14{background-color:#FFA526}#gantt .item.item-damage15{background-color:#97A526}#gantt .item.item-damage16{background-color:#E06018}#gantt .item.item-damage17{background-color:#9A97F1}#gantt .item.item-damage18{background-color:#8E8DA4}#gantt .item.item-damage19{background-color:#8EB545}#gantt .item.item-damage20{background-color:#D397F1}#gantt .item.item-damage21{background-color:#83BEA0}#gantt .item.item-damage22{background-color:#E09C91}#gantt .item.item-damage23{background-color:#E0EA91}#gantt .item.item-damage24{background-color:#56EAF0}#gantt .item.item-damage25{background-color:#F1E497}#gantt_legend{width:20%;float:left}#gantt_legend div{margin-left:20px;margin-bottom:10px;border-left:7px #CCCCCC solid;font-size:11px;padding:3px 0 3px 10px}#gantt_legend div.legend-0{border-color:#BE83AA}#gantt_legend div.legend-1{border-color:#6843B2}#gantt_legend div.legend-2{border-color:#FF9626}#gantt_legend div.legend-3{border-color:#6D26FF}#gantt_legend div.legend-4{border-color:#0ACC27}#gantt_legend div.legend-5{border-color:#438FB2}#gantt_legend div.legend-6{border-color:#26BAFF}#gantt_legend div.legend-7{border-color:#CCC62B}#gantt_legend div.legend-8{border-color:#26FFBB}#gantt_legend div.legend-9{border-color:#B2886B}#gantt_legend div.legend-10{border-color:#705AFF}#gantt_legend div.legend-11{border-color:#A35AFF}#gantt_legend div.legend-12{border-color:#A3E8FF}#gantt_legend div.legend-13{border-color:#A3E8A3}#gantt_legend div.legend-14{border-color:#FFA526}#gantt_legend div.legend-15{border-color:#97A526}#gantt_legend div.legend-16{border-color:#E06018}#gantt_legend div.legend-17{border-color:#9A97F1}#gantt_legend div.legend-18{border-color:#8E8DA4}#gantt_legend div.legend-19{border-color:#8EB545}#gantt_legend div.legend-20{border-color:#D397F1}#gantt_legend div.legend-21{border-color:#83BEA0}#gantt_legend div.legend-22{border-color:#E09C91}#gantt_legend div.legend-23{border-color:#E0EA91}#gantt_legend div.legend-24{border-color:#56EAF0}#gantt_legend div.legend-25{border-color:#F1E497}#gantt_scale{float:right;padding-bottom:10px;line-height:30px}#gantt_scale label{border:1px #c9c9c9 solid;background-color:#f9f9f9;display:block;float:right;padding:0 10px;overflow:hidden;margin:-1px;cursor:pointer;text-align:center}